<h1 class="container bg-dark text-white text-center my-4 py-4">
    {{textoTitulo}}
</h1>

<div class="container">
    <br>
    <p>
        {{letraEjercicio}}
    </p>
    <br>

    <button id="btnFun1" type="button" class="btn btn-success mb-3" (click)="contador=contador+1;">Contador Positivo</button>
    <button id="btnFun2" type="button" class="btn btn-danger mb-3" (click)="contador=contador-1" >Contador Negativo</button>
    <p>
        valor del contador: {{contador}}
    </p>
    <button type="button" class="btn btn-primary mb-4" *ngIf="contador>=15;" [ngClass]="fondo">
        Hola mundo
    </button>

    <br>
    <button type="button" class="btn btn-primary mb-4" *ngIf="contador<=-10;" [ngClass]="fondo">Adios</button>

    <!--ng-template #verAdios>
        <button type="button" class="btn btn-primary mb-4" [ngClass]="fondo">Adios</button>
    </ng-template-->

    
</div>

<footer>
    <p class="text-center">Desarrollado por Joaquín Parrilla. | &copy; 2020 - Todos los derechos reservados :)</p>
</footer>

