<h1 class="container bg-dark text-white text-center my-4 py-4">
    {{textoTitulo}}
</h1>
<br>
<div class="container">

    <button type="button" class="btn btn-success mb-3" (click)="contador=contador+1">Contador Positivo</button>
    <button type="button" class="btn btn-danger mb-3" (click)="contador=contador-1" >Contador Negativo</button>
    
    <p>
        valor del contador: {{contador}}
    </p>
</div>

<footer>
    <p class="text-center">Desarrollado por Joaquín Parrilla. | &copy; 2020 - Todos los derechos reservados :)</p>
</footer>
